/* line 5, sass/app.scss */
html {
  box-sizing: border-box;
}

/* line 9, sass/app.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 14, sass/app.scss */
.clearfix:before, .chart-list:before,
.clearfix:after,
.chart-list:after {
  content: " ";
  display: table;
}

/* line 19, sass/app.scss */
.clearfix:after, .chart-list:after {
  clear: both;
}

/* line 23, sass/app.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(255, 255, 255, 0.3) 21%, rgba(255, 255, 255, 0.3) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255, 255, 255, 0.3) 21%, rgba(255, 255, 255, 0.3) 34%, transparent 35%, transparent) 0 -50px;
  background-color: slategray;
  background-size: 75px 100px;
}

/* line 35, sass/app.scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 41, sass/app.scss */
.main {
  background: #fff;
  margin: 0 auto;
  padding: 30px 20px;
  width: 960px;
}

/* line 48, sass/app.scss */
.chart-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 55, sass/app.scss */
.chart-list li {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #efefef;
  float: left;
  padding: 10px;
  margin: 10px;
  width: 440px;
  height: 440px;
}

/* line 69, sass/app.scss */
.title {
  margin: 0 0 20px;
  padding: 0 10px;
}

/* line 74, sass/app.scss */
.title-2 {
  display: inline-block;
  margin: 0 0 10px;
}

/* line 79, sass/app.scss */
.expander {
  float: right;
  width: 0;
  height: 0;
  border-left: 0;
  border-right: 16px solid #61bb09;
  border-top: 0;
  border-bottom: 16px solid transparent;
}
