@import "compass";

$global-radius: 3px;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:before,
.clearfix:after {
  content: " "; 
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  
  background: 
  radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
  radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
  background-color: slategray;
  background-size:75px 100px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  background: #fff;
  margin: 0 auto;
  padding: 30px 20px;
  width: 960px;
}

.chart-list {
  @extend .clearfix;

  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @include border-radius($global-radius);
    border: 1px solid #efefef;

    float: left;
    padding: 10px;
    margin: 10px;

    width: 440px;
    height: 440px;

  }
}

.title {
  margin: 0 0 20px;
  padding: 0 10px;
}

.title-2 {
  display: inline-block;
  margin: 0 0 10px;
}

.expander {
  float: right;

  width: 0;
  height: 0;
  border-left: 0;
  border-right: 16px solid #61bb09;
  border-top: 0;
  border-bottom: 16px solid transparent;
}